<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoading">
      <mat-form-field>
        <input matInput type="text" formControlName="name" placeholder="Admin name">
        <mat-error *ngIf="form.get('name').invalid">Please enter Admin name.</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" formControlName="email" placeholder="E-Mail">
        <mat-error *ngIf="form.get('email').invalid">Please enter E-Mail</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" formControlName="type" placeholder="Type">
        <mat-error *ngIf="form.get('type').invalid">Please enter his Type</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" formControlName="password" placeholder="Password">
        <mat-error *ngIf="form.get('password').invalid">Please enter a Password.</mat-error>
      </mat-form-field>
      <button mat-raised-button color="accent" type="submit">Save Post</button>
    </form>
  </mat-card>
  